<main class="container">
  <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">
    <fieldset class="mb-3">
      <label for="username" class="form-label">Username *</label>
      <input
        type="text"
        ngModel
        #username="ngModel"
        name="username"
        placeholder="What's your username?"
        class="form-control"
        minlength="3"
        required
      />
    </fieldset>

    <div
      id="usernameErrors"
      class="alert alert-danger"
      *ngIf="username.invalid && (username.touched || username.dirty)"
    >
      <div *ngIf="username.errors">
        <p class="mb-0" *ngIf="username.errors['required']">
          Username is required.
        </p>
        <p class="mb-0" *ngIf="username.errors['minlength']">
          Username is too short (3).
        </p>
      </div>
    </div>

    <button
      [disabled]="loginForm.invalid" type="submit" class="btn btn-warning">
      Login
    </button>
  </form>

  <section class="py-3">
    <a routerLink="/register">No Account? Register here</a>
  </section>

</main>
